NODE_ENV=development
PORT=5555
HOST=0.0.0.0
MONGO_URI=
JWT_SECRET=
CORS_ORIGINS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=


MONGO_URI=mongodb+srv://doctorcar_user:X1NG8BZPnnRoDicw@cluster77.sttfzpo.mongodb.net/doctorcar?retryWrites=true&w=majority
JWT_SECRET=doctorcar_super_long_random_secret_123456789_xyz987654321
